.header {
	height:76px;
	background-color: #ff5960;
	background-image: linear-gradient(to bottom,#ff5960 0,#ff5960 100%);
}

.header_text {
  font-size: 38px;font-family: sans;color: white;
}

.slogan_text {
  font-size: 18px;font-family: sans;color: white;
}

.help_header {
  height:24px;
  background-color: #666666;
  background-image: linear-gradient(to bottom,#666666 0,#666666 100%);
}

.help_text {
  font-size: 16px;font-family: sans;color: white;
}

.menu_text {
  font-size: 18px;font-family: sans;color: #ff4650;
}

.categoryThumbnail {
	width:150px;
	height:300px;
	overflow:hidden;
}

.mainArea {
  padding-top:0px;
}

#categoryCarousel {
  margin-left: 0px;
  margin-right:0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #fff;
  font-size: 18px;
}

.footer_menu {
  height: 200px;
 background-color: #f4f4f4;
 color: #a1a1a1;
 padding-top: 10px;
 padding-left: 10px;
}

.footer_mid {
  height: 200px;
 background-color: #9d9d9d;
 color: #FFFFFF;
 #padding-left: 10px;
 padding-top: 10px;
}

.footer_last {
  height: 200px;
 background-color: #ff5960;
 color: #FFFFFF;
 padding-top: 10px;
}

.footer_last_text {
  padding-left: 10px;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#bodyStart {
 padding-bottom: 200px;
 padding-top: 50px; 
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container > p.text-muted {
  padding-top:20px;
}

code {
  font-size: 80%;
}

#myCarousel > div > div > img.attachment-shop_single.wp-post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    min-width: initial !important;
    height: initial;
}

#categoryCarousel > div > div > img.attachment-shop_single.wp-post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    min-width: initial !important;
    height: initial;
}

#productImageCarousel > div > div > img.productImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    min-width: initial !important;
    height: initial;
}

.page-title {
  margin-top:5px;
  margin-bottom:5px;
}

.cart-logo {
  font-size:30px;
  color:white;
}

.navbar-nav>li>a:hover {
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background-color:#ff4650;
}