.header {
	height:76px;
	background-color: #FF5A60;
	background-image: linear-gradient(to bottom,#FF5A60 0,#FF5A60 100%);
}

.categoryThumbnail {
	width:150px;
	height:300px;
	overflow:hidden;
}

.mainArea {
  padding-top:0px;
}

#categoryCarousel {
  margin-left: 0px;
  margin-right:0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#myCarousel > div > div > img.attachment-shop_single.wp-post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    min-width: initial !important;
    height: initial;
}